body {
	background-image: url('../img/.jpg');
	background-attachment:fixed;
	bakground-repeat:xy;
	background-color:#9b9411;
	color:#747064;
	font-family:'Ruluko', sans-serif;;
	font-size:12px;
	margin-top:-14px;
	letter-spacing:0.5px;
	}
html {
	overflow-y: scroll;
	overflow-x: hidden;
	}
#container {
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
	width:946px;
	min-height:100%;
	z-index:2;
	overflow:visible;
        }
#left {
        margin-left:-58px;
        margin-top:150px;
        position:fixed;
	width:43px;
	min-height:100%;
	z-index:2;
	background-color:transparent;
        background-image:url('../img/.jpg');
        background-repeat:repeat-y;
        }
#right {
        margin-left:931px;
        margin-top:150px;
        position:fixed;
	width:43px;
	min-height:100%;
	z-index:2;
	background-color:transparent;
	background-image:url('../img/.jpg');
        background-repeat:repeat-y;
        }
#navbar {
        margin-top:213px;
	margin-left:60px;
        position:fixed;
	overflow:visible;
	width:790px;
	height:20px;
	z-index:4;
	background-color:transparent;
        }
#main {
	margin-left:-15px;
	margin-top:100px;
        position:absolute;
	width:946px;
	min-height:100%;
	z-index:1;
	background-color:#f9f6e7;
        overflow:visible;
        }
#gallery {
        height:auto;
        width:878px;
        div-align:center;
	padding-bottom:50px;
	margin-top:200px;
	margin-left:34px;
	background-color:transparent;
	}
#topbanner {
        width:1168px;
        height:266px;
        position:fixed;
        z-index:3;
        background-image:url('../img/.jpg');
        background-repeat:no-repeat;
        background-color:transparent;
        margin-left:-116px;
        margin-top:0px;
        overflow:visible;
        }
#topbanner2 {
        width:80px;
        height:182px;
        position:fixed;
        z-index:3;
        background-repeat:no-repeat;
        background-color:transparent;
        margin-left:-95px;
        margin-top:266px;
        overflow:visible;
        }
#topbanner3 {
        width:120px;
        height:211px;
        position:fixed;
        z-index:3;
        background-repeat:no-repeat;
        background-color:transparent;
        margin-left:931px;
        margin-top:266px;
        overflow:visible;
        }
A:link {
	color:#c35a12;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
A:visited {
	color:#c35a12;
        font-size:14px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
A:active {
	color:#c35a12;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
A:hover {
	color:#c35a12;
        font-size:12px;
	text-decoration: none; 
        letter-spacing:1px;
        line-height:180%;
	}
.description A:link {
	color:#403f3b;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.description A:visited {
	color:#403f3b;
        font-size:14px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.description A:active {
	color:#403f3b;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.description A:hover {
	color:#000000;
        font-size:12px;
	text-decoration: none; 
	border-bottom:1px dotted #747064;
        letter-spacing:1px;
        line-height:180%;
	}
.text A:link {
	color:#403f3b;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.text A:visited {
	color:#403f3b;
        font-size:14px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.text A:active {
	color:#403f3b;
        font-size:12px;
	text-decoration: none;
        letter-spacing:1px;
        line-height:180%;
	}
.text A:hover {
	color:#000000;
        font-size:12px;
	text-decoration: none; 
	border-bottom:1px dotted #747064;
        letter-spacing:1px;
        line-height:180%;
	}	
hr {
        border:0;
        width:160px;
        color:#ffffff;
        background-color:#ffffff;
        }
.class1 {
	color:#c35a12;
        font-size:12px;
	text-decoration: none;
	letter-spacing:2px;
	}
.class1 A:link {
	color:#433f35;
        font-size:12px;
	text-decoration: none;
	letter-spacing:2px;
	}
.class1 A:visited {
	color:#433f35;
        font-size:12px;
	text-decoration: none;
	letter-spacing:2px;
	}
.class1 A:active {
	color:#c35a12;
        font-size:12px;
	text-decoration: none;
	letter-spacing:2px;
	}
.class1 A:hover {
	color:#c35a12;
        font-size:12px;
	text-decoration: none; 
	letter-spacing:2px;
	border-bottom:0px;
	}
.class2 A:link {
	color:#747064;
        font-size:14px;
	text-decoration: none;
	letter-spacing:0.5px;
	}
.class2 A:visited {
	color:#747064;
        font-size:14px;
	text-decoration: none;
	letter-spacing:0.5px;
	}
.class2 A:active {
	color:#ab8a17;
        font-size:14px;
	text-decoration: none;
	letter-spacing:0.5px;
	}
.class2 A:hover {
	color:#ab8a17;
        font-size:14px;
	text-decoration: none; 
	letter-spacing:0.5px;
	border-bottom:0px;
	}
p.nav {
        letter-spacing:0.5px;
        color:#ab8a17;
        font-size:16px;
        margin: 0px;
        padding: 0px;
        line-height:180%;
        }
div.hr1 {
        width:380px;
        color:#747064;
        background-color:#747064;
        line-height:1px; 
        margin-top:11px;
        } 
div.hr2 {
        width:150px;
        color:#c3bea8;
        background-color:#c3bea8;
        line-height:1px; 
        margin-right:0px;
        margin-left:-12px;
        } 
div.hr3 {
        width:200px;
        color:#969183;
        background-color:#969183;
        line-height:1px; 
        margin-top:10px;
        margin-bottom:10px;
        margin-left:0px;
        } 
div.hr4 {
        width:230px;
        color:#969183;
        background-color:#969183;
        line-height:1px; 
        margin-top:3px;
        margin-bottom:3px;
        margin-left:0px;
        } 
#thumbs {
        opacity:1.0;
        filter:alpha(opacity=100);
        }
#thumbs:hover {
        opacity:0.5;
        filter:alpha(opacity=50);
        }
#thumbs:img {
        border:0px;
        }
#text {
        padding-left:30px;
        padding-right:40px;
        }
#text2 {
        padding-left:25px;
        padding-right:20px;
        line-height:23px;
        text-align:left;
        }
#text3 {
        padding-left:58px;
        padding-right:20px;
        line-height:23px;
        }
p.text {
        line-height:23px;
        letter-spacing:1px;
        }
p.text2 {
        line-height:23px;
        letter-spacing:1px;
        color:#403f3b;
        }
table#contact {
        padding-top:0px;
        padding-right:30px;
        padding-left:30px;
        }
#banners {
        position:absolute;
        z-index:4;
        margin-left:13px;
        margin-top:4px;
        }
#clients {
        background-color:#bfbbac;
        margin-left:-34px;
        margin-right:34px;
        margin-bottom:-90px;
        background-repeat:xy;
        width:946px;
        }
p.description {
        letter-spacing:1px;
        text-align:center;
        line-height:180%;
        padding-left:30px;
        padding-right:30px;
        font-size:12px;
        }
p.bio {
        letter-spacing:1px;
        text-align:left;
        line-height:180%;
        font-size:12px;
        padding-right:15px;
        padding-left:10px;
        }
p.biotitle {
        letter-spacing:1px;
        text-align:left;
        line-height:180%;
        font-size:13px;
        padding-right:20px;
        padding-left:10px;
        margin-top:-4px;
        color:#c35a12;
        }
p.phonemail {
        letter-spacing:1.5px;
        text-align:center;
        line-height:180%;
        font-size:13px;
        padding-right:21px;
        }
#arrows {
        background-color:#f9f6e7;
        position:fixed;
        z-index:5;
        width:242px;
        height:39px;
        image-border:1px;
        }
#images {
        width:600px;
        position:relative;
        margin-top:-40px;
        background-color:transparent;
        z-index:5;
        margin-left:300px;
        }
.images img {
        border:0px;
        }
#arrows img {
        border:0px;
        }
#sidebar img {
        border:0px;
        }
#gallery2 {
        height:auto;
        width:788px;
        div-align:center;
	padding-bottom:50px;
	margin-top:200px;
        margin-left:42px;
	background-color:transparent;
	}
	
	